{% extends 'back_office_without_easy_admin/backoffice/index.html.twig' %}

{% block title %}Place{% endblock %}

{% block body %}

<div class="col-md-12 mt-4">
    <h1>Place</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ place.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ place.name }}</td>
            </tr>
            <tr>
                <th>Address</th>
                <td>{{ place.address }}</td>
            </tr>
            <tr>
                <th>AddressComplement</th>
                <td>{{ place.addressComplement }}</td>
            </tr>
            <tr>
                <th>City</th>
                <td>{{ place.city }}</td>
            </tr>
            <tr>
                <th>Logo</th>
                <td>{{ place.logo }}</td>
            </tr>
            <tr>
                <th>Image</th>
                {% if place.image == null %}
                    <td>Pas de logo</td>
                {% else %}
                {% set imageUrl =  'uploads/images/placelogos/' ~ place.image %}
                    <td><img class="imgSize" src="{{ asset(imageUrl) }}"></td>
                {% endif %}
            </tr>
            <tr>
                <th>Status</th>
                <td>{{ place.status }}</td>
            </tr>
            <tr>
                <th>CreatedAt</th>
                <td>{{ place.createdAt ? place.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>UpdatedAt</th>
                <td>{{ place.updatedAt ? place.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>PublishedAt</th>
                <td>{{ place.publishedAt ? place.publishedAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Url</th>
                <td>{{ place.url }}</td>
            </tr>
            <tr>
                <th>Content</th>
                <td>{{ place.content }}</td>
            </tr>
        </tbody>
    </table>

    <a class="btn btn-primary" href="{{ path('back_office_place_browse') }}">back to list</a>
</div>
{% endblock %}
