{{ form_start(form) }}
    {# {{ form_widget(form) }} #}
    <div class="form-group">
        <label for="name" class="required">Nom</label>
        {{ form_row(form.name,{'label' : false}) }}
    </div>
    <div class="form-group">
        <label for="title" class="required">Pictogram</label>
        {{ form_row(form.imageFile,{'label' : false}) }}
        {% if place_category.image %}
            <img class="imgSize" src="{{asset('uploads/images/placecategorypictos/' ~ place_category.image) }}">
        {% endif %}
    </div>
    <div class="form-group">
        <p class="required">champ requis</p>
    </div>
    <button class="btn btn-primary">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
